---
---
@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import
  "grid/susy",
  "variables",
  "base",
  "layout"
;

.color-palette {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  > li:first-child {

    &::before,
    &::after {
      color: white;
      position: absolute;
      top: 0;
      z-index: 2;
    }

    &::before {
      content: '10% lighter';
      left: 0;
    }

    &::after {
      content: '10% darker';
      right: 0;
    }
  }
}

.color-swatch {
  color: white;
  height: 100px;
  padding: 5%;
  position: relative;
  text-align: center;
}

@mixin swatch($color) {
  background-color: $color;
  background: linear-gradient(to right, lighten($color, 10), darken($color, 10));
}

.color-1 {
  @include swatch($color-1);
}

.color-2 {
  @include swatch($color-2);
}

.color-3 {
  @include swatch($color-3);
}

.color-4 {
  @include swatch($color-4);
}

.color-5 {
  @include swatch($color-5);
}

.color-6 {
  @include swatch($color-6);
}

.accent-1 {
  @include swatch($accent-1);
}

.accent-2 {
  @include swatch($accent-2);
}

.accent-3 {
  @include swatch($accent-3);
}

.accent-4 {
  @include swatch($accent-4);
}

.accent-5 {
  @include swatch($accent-5);
}

.accent-6 {
  @include swatch($accent-6);
}

.accent-7 {
  @include swatch($accent-7);
}

.accent-8 {
  @include swatch($accent-8);
}

.accent-9 {
  @include swatch($accent-9);
}
