<header>
  <button class="menu-toggle">Menu</button>
  <span class="header-couple"></span>
  <nav role="navigation">
    <ul class="nav-links">
      <li class="nav-link"><a href="#londontown">London Town and Gardens</a></li>
      <li class="nav-link"><a href="#annapolis">Annapolis</a></li>
      <li class="nav-link"><a href="#fun">Play</a></li>
      <li class="nav-link"><a href="#accommodations">Accommodations</a></li>
      <li class="nav-link"><a href="#party">Wedding Party</a></li>
      <li class="nav-link"><a href="#lunch">Picnic Lunch</a></li>
      <li class="nav-link"><a href="#registry">Registry</a></li>
      <li class="nav-link"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
