@font-face {
  font-family: 'Josefin';
  src: url('../fonts/josefinsans-light-webfont.eot');
  src: url('../fonts/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/josefinsans-light-webfont.woff2') format('woff2'),
       url('../fonts/josefinsans-light-webfont.woff') format('woff'),
       url('../fonts/josefinsans-light-webfont.ttf') format('truetype'),
       url('../fonts/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster Two';
  src: url('../fonts/lobstertwo-regular-webfont.eot');
  src: url('../fonts/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lobstertwo-regular-webfont.woff2') format('woff2'),
       url('../fonts/lobstertwo-regular-webfont.woff') format('woff'),
       url('../fonts/lobstertwo-regular-webfont.ttf') format('truetype'),
       url('../fonts/lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
