.page {
  vm: 100vh;
  vmin: 100vh;
  min-height: 100vh;
  padding: 100px 3% 0 3%;
}

#home {
  text-align: center;
}

.heading {
  background: $purple;
  color: white;
  text-align: right;
  padding-right: 25%;
}

.thanks {
  text-align: center;
}

.signature {
  color: $purple;
  font-family: $heading-font-family;
}
