.page {
  vm: 100vh;
  vmin: 50vh;
  margin: 2em 0;
  min-height: 50vh;
  padding: 100px 3% 0 3%;
}

#home {
  text-align: center;
}

.heading {
  background: $purple;
  color: white;
  text-align: center;
}

.thanks {
  text-align: center;
}

.signature {
  color: $purple;
  font-family: $heading-font-family;
}

.scroll-help-container {
  bottom: 25px;
  position: absolute;
  left: 50%;
  z-index: -1;
}

.scroll-help {
  position: relative;
  left: -50%;
}
