// Our variables
$base-font-family: "Source Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Colors
$lavender: #d6c1e1;
$purple: #660066;
$green: #105B4B;
$turquoise: #8ac2a8;

// Navigation
$nav-color: $green;
$nav-link-color: white;
$nav-height: 50px;

// Form
$input-border: $green;
$input-color: $input-border;

// Breakpoints
$break-xs: 400px;
$break-sm: 700px;
$break-md: 960px;
$break-lg: 1200px;

// Susy variables
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  global-box-sizing: border-box
);
