.wedding-party {
  @extend %clearfix;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 2em;

    @media (min-width: 750px) {
      @include gallery(6 of 12);
    }

    @media (min-width: 1000px) {
      @include gallery(3 of 12);
    }
  }

  img {
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 4px 0px rgba(191,191,191,1);
    -moz-box-shadow: 5px 5px 4px 0px rgba(191,191,191,1);
    box-shadow: 5px 5px 4px 0px rgba(191,191,191,1);
    margin: auto;
  }

}

figcaption {
  color: $green;
  font-family: "Lobster Two", Georgia, serif;
  font-size: 1.2em;
  text-align: center;
}
